table(border =1)
    thead
        tr
            th Id
            th Name
            th Address
            th MobileNo
            th Designation
            th Job Location
            th Salary
            th Email-Id
                        
    tbody
        - each items in emplist
             tr
              - for subitems in items
                   td= subitems
                   
              
                
